backups/n8n/workflow_zO38wIUIoZJ7KsyS_ai_scout_fix_20260320_204758.json
{
  "updatedAt": "2026-03-10T10:55:15.218Z",
  "createdAt": "2026-03-07T04:53:48.139Z",
  "id": "zO38wIUIoZJ7KsyS",
  "name": "Daily AI Scout (新AI・ツール探索)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Daily 09:00 JST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-queries",
      "name": "Search Queries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "q1",
              "name": "q1",
              "value": "new AI model small MiniPC 2026 release",
              "type": "string"
            },
            {
              "id": "q2",
              "name": "q2",
              "value": "Qwen Llama Mistral new model release 2026",
              "type": "string"
            },
            {
              "id": "q3",
              "name": "q3",
              "value": "video generation AI tool new release 2026",
              "type": "string"
            },
            {
              "id": "q4",
              "name": "q4",
              "value": "image generation AI open source 2026",
              "type": "string"
            },
            {
              "id": "q5",
              "name": "q5",
              "value": "AI productivity workflow automation tool 2026",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "node-search1",
      "name": "Search: AI Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q1 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search2",
      "name": "Search: LLM Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q2 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search3",
      "name": "Search: Video Gen AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        40
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q3 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search4",
      "name": "Search: Image Gen AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q4 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search5",
      "name": "Search: Productivity AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q5 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        40
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst allItems = $input.all();\nconst seen = new Set();\nconst results = [];\n\nfor (const item of allItems) {\n  const data = item.json;\n  const hits = data.results || [];\n  for (const r of hits.slice(0, 3)) {\n    const key = r.url || r.title;\n    if (!seen.has(key) && r.title) {\n      seen.add(key);\n      results.push(`- ${r.title}\\n  ${r.url || ''}`);\n    }\n  }\n}\n\nreturn [{ json: { summary_input: results.slice(0, 20).join('\\n') } }];\n"
      }
    },
    {
      "id": "node-llm",
      "name": "Gemini Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer local-dev-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'ollama/qwen2.5-coder:7b', messages: [{ role: 'system', content: '鈴木さんのMiniPC（省電力・小型）に適合する新しいAIモデル・ツールをレポートしてください。特に: 小型LLM（Qwen/Llama等の軽量版）、動画生成AI、画像生成AI、仕事効率化ツール、に注目してください。日本語で簡潔に箇条書きで報告してください。既知のものは除外し、「新しい」ものだけを報告してください。' }, { role: 'user', content: '今週の検索結果:\\n' + $json.summary_input }], max_tokens: 800 }) }}"
      }
    },
    {
      "id": "node-extract",
      "name": "Extract AI Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        40
      ],
      "parameters": {
        "jsCode": "\nconst body = $input.item.json;\nconst content = body.choices?.[0]?.message?.content || '(結果なし)';\nconst today = new Date().toLocaleDateString('ja-JP', {timeZone: 'Asia/Tokyo'});\nreturn [{\n  json: {\n    message: `🤖 AI Scout 日報 (${today})\\n\\n${content}\\n\\n---\\n📡 Clawstack 自動探索`\n  }\n}];\n"
      }
    },
    {
      "id": "node-telegram",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "8173025084",
          "text": "={{ $json.message }}",
          "parse_mode": "Markdown"
        }
      }
    }
  ],
  "connections": {
    "Daily 09:00 JST": {
      "main": [
        [
          {
            "node": "Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Queries": {
      "main": [
        [
          {
            "node": "Search: AI Models",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: LLM Releases",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Video Gen AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Image Gen AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Productivity AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: AI Models": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: LLM Releases": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Video Gen AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Image Gen AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Productivity AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Gemini Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summary": {
      "main": [
        [
          {
            "node": "Extract AI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Report": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 09:00 JST": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
  "activeVersionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
  "versionCounter": 32,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T04:53:48.147Z",
      "createdAt": "2026-03-07T04:53:48.147Z",
      "role": "workflow:owner",
      "workflowId": "zO38wIUIoZJ7KsyS",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-19T15:01:01.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-10T10:55:15.220Z",
    "createdAt": "2026-03-10T10:55:15.220Z",
    "versionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
    "workflowId": "zO38wIUIoZJ7KsyS",
    "nodes": [
      {
        "id": "node-schedule",
        "name": "Daily 09:00 JST",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "node-queries",
        "name": "Search Queries",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          200,
          0
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "q1",
                "name": "q1",
                "value": "new AI model small MiniPC 2026 release",
                "type": "string"
              },
              {
                "id": "q2",
                "name": "q2",
                "value": "Qwen Llama Mistral new model release 2026",
                "type": "string"
              },
              {
                "id": "q3",
                "name": "q3",
                "value": "video generation AI tool new release 2026",
                "type": "string"
              },
              {
                "id": "q4",
                "name": "q4",
                "value": "image generation AI open source 2026",
                "type": "string"
              },
              {
                "id": "q5",
                "name": "q5",
                "value": "AI productivity workflow automation tool 2026",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "node-search1",
        "name": "Search: AI Models",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -200
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q1 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search2",
        "name": "Search: LLM Releases",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -80
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q2 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search3",
        "name": "Search: Video Gen AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          40
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q3 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search4",
        "name": "Search: Image Gen AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          160
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q4 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search5",
        "name": "Search: Productivity AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          280
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q5 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-aggregate",
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          40
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst allItems = $input.all();\nconst seen = new Set();\nconst results = [];\n\nfor (const item of allItems) {\n  const data = item.json;\n  const hits = data.results || [];\n  for (const r of hits.slice(0, 3)) {\n    const key = r.url || r.title;\n    if (!seen.has(key) && r.title) {\n      seen.add(key);\n      results.push(`- ${r.title}\\n  ${r.url || ''}`);\n    }\n  }\n}\n\nreturn [{ json: { summary_input: results.slice(0, 20).join('\\n') } }];\n"
        }
      },
      {
        "id": "node-llm",
        "name": "Gemini Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          40
        ],
        "parameters": {
          "method": "POST",
          "url": "http://litellm:4000/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer local-dev-key"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "body": "={{ JSON.stringify({ model: 'ollama/qwen2.5-coder:7b', messages: [{ role: 'system', content: '鈴木さんのMiniPC（省電力・小型）に適合する新しいAIモデル・ツールをレポートしてください。特に: 小型LLM（Qwen/Llama等の軽量版）、動画生成AI、画像生成AI、仕事効率化ツール、に注目してください。日本語で簡潔に箇条書きで報告してください。既知のものは除外し、「新しい」ものだけを報告してください。' }, { role: 'user', content: '今週の検索結果:\\n' + $json.summary_input }], max_tokens: 800 }) }}"
        }
      },
      {
        "id": "node-extract",
        "name": "Extract AI Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          40
        ],
        "parameters": {
          "jsCode": "\nconst body = $input.item.json;\nconst content = body.choices?.[0]?.message?.content || '(結果なし)';\nconst today = new Date().toLocaleDateString('ja-JP', {timeZone: 'Asia/Tokyo'});\nreturn [{\n  json: {\n    message: `🤖 AI Scout 日報 (${today})\\n\\n${content}\\n\\n---\\n📡 Clawstack 自動探索`\n  }\n}];\n"
        }
      },
      {
        "id": "node-telegram",
        "name": "Telegram Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          40
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "contentType": "json",
          "body": {
            "chat_id": "8173025084",
            "text": "={{ $json.message }}",
            "parse_mode": "Markdown"
          }
        }
      }
    ],
    "connections": {
      "Daily 09:00 JST": {
        "main": [
          [
            {
              "node": "Search Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Queries": {
        "main": [
          [
            {
              "node": "Search: AI Models",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: LLM Releases",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Video Gen AI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Image Gen AI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Productivity AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: AI Models": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: LLM Releases": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Video Gen AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Image Gen AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Productivity AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Gemini Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Summary": {
        "main": [
          [
            {
              "node": "Extract AI Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract AI Report": {
        "main": [
          [
            {
              "node": "Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-10T10:55:15.295Z",
        "id": 69,
        "workflowId": "zO38wIUIoZJ7KsyS",
        "versionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-10T10:58:10.700Z",
        "id": 79,
        "workflowId": "zO38wIUIoZJ7KsyS",
        "versionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-10T10:58:08.651Z",
        "id": 78,
        "workflowId": "zO38wIUIoZJ7KsyS",
        "versionId": "7a83e8c2-da0a-4468-8feb-6c8d2df5ec89",
        "event": "deactivated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}