backups/n8n/workflow_SG2teXHO94CvzCoU_20260320_183717.json
{
  "updatedAt": "2026-03-09T06:45:02.612Z",
  "createdAt": "2026-03-02T13:34:38.293Z",
  "id": "SG2teXHO94CvzCoU",
  "name": "Daily Promises Report (23:00 JST)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "毎日23:00トリガー",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 23,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "node-read",
      "name": "PROMISES.md読み込み",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "command": "DOCKER_HOST=unix:///var/run/docker.sock docker exec clawstack-unified-clawdbot-gateway-1 cat /home/node/clawd/PROMISES.md"
      }
    },
    {
      "id": "node-format",
      "name": "メッセージ整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('ja-JP', {timeZone:'Asia/Tokyo'});\nconst content = $input.first().json.stdout || '(読み込み失敗)';\nconst truncated = content.length > 3500 ? content.substring(0, 3500) + '\\n...(省略)' : content;\nconst msg = `📋 定期報告 (${now})\\n\\n${truncated}`;\nreturn [{ json: { text: msg } }];"
      }
    },
    {
      "id": "node-telegram",
      "name": "Telegram送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "8173025084"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "毎日23:00トリガー": {
      "main": [
        [
          {
            "node": "PROMISES.md読み込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROMISES.md読み込み": {
      "main": [
        [
          {
            "node": "メッセージ整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージ整形": {
      "main": [
        [
          {
            "node": "Telegram送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tokyo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:毎日23:00トリガー": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
  "activeVersionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
  "versionCounter": 51,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T13:34:38.296Z",
      "createdAt": "2026-03-02T13:34:38.296Z",
      "role": "workflow:owner",
      "workflowId": "SG2teXHO94CvzCoU",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-19T15:01:01.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-09T06:45:02.615Z",
    "createdAt": "2026-03-09T06:45:02.615Z",
    "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
    "workflowId": "SG2teXHO94CvzCoU",
    "nodes": [
      {
        "id": "node-schedule",
        "name": "毎日23:00トリガー",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "triggerAtHour": 23,
                "triggerAtMinute": 0
              }
            ]
          }
        }
      },
      {
        "id": "node-read",
        "name": "PROMISES.md読み込み",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          460,
          300
        ],
        "parameters": {
          "command": "DOCKER_HOST=unix:///var/run/docker.sock docker exec clawstack-unified-clawdbot-gateway-1 cat /home/node/clawd/PROMISES.md"
        }
      },
      {
        "id": "node-format",
        "name": "メッセージ整形",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "jsCode": "const now = new Date().toLocaleString('ja-JP', {timeZone:'Asia/Tokyo'});\nconst content = $input.first().json.stdout || '(読み込み失敗)';\nconst truncated = content.length > 3500 ? content.substring(0, 3500) + '\\n...(省略)' : content;\nconst msg = `📋 定期報告 (${now})\\n\\n${truncated}`;\nreturn [{ json: { text: msg } }];"
        }
      },
      {
        "id": "node-telegram",
        "name": "Telegram送信",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "8173025084"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "毎日23:00トリガー": {
        "main": [
          [
            {
              "node": "PROMISES.md読み込み",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PROMISES.md読み込み": {
        "main": [
          [
            {
              "node": "メッセージ整形",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "メッセージ整形": {
        "main": [
          [
            {
              "node": "Telegram送信",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T06:45:02.717Z",
        "id": 57,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-13T13:15:26.681Z",
        "id": 97,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-13T13:31:35.071Z",
        "id": 101,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-13T13:15:24.584Z",
        "id": 96,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
        "event": "deactivated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      },
      {
        "createdAt": "2026-03-13T13:31:32.668Z",
        "id": 100,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "3b299011-15c7-4579-a966-a8bdf5aca997",
        "event": "deactivated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}