backups/n8n/workflow_0qNc6FdnxdDFICGe_pre_external_harness_patch_20260321_131854.json
{
  "updatedAt": "2026-03-21T03:25:15.688Z",
  "createdAt": "2026-03-13T22:13:23.037Z",
  "id": "0qNc6FdnxdDFICGe",
  "name": "Email RAG Ingest (Nightly 02:00 JST)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "nightly_trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "phase12",
      "name": "phase12_qdrant",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        250,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_v2.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -5 /home/node/clawd/ingest_eml.log\" || true"
      }
    },
    {
      "id": "phase3",
      "name": "phase3_meilisearch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_to_meili.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -3 /home/node/clawd/ingest_eml.log\" || true"
      }
    },
    {
      "id": "phase4",
      "name": "phase4_sqlite_search",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        750,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/email_search_index.py --gmail-max-messages 500 >>/home/node/clawd/email_search_index.log 2>&1; tail -5 /home/node/clawd/email_search_index.log\" || true"
      }
    },
    {
      "id": "notify",
      "name": "telegram_notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "8173025084"
            },
            {
              "name": "text",
              "value": "={{ \"Email ingest finished\\n\\nQdrant: \" + $node[\"phase12_qdrant\"].json.stdout.split(\"\\n\").slice(-3).join(\"\\n\") + \"\\nMeilisearch: \" + $node[\"phase3_meilisearch\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") + \"\\nSQLite/Gmail: \" + $node[\"phase4_sqlite_search\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "gmail-send-report",
      "name": "gmail_send",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        -120
      ],
      "parameters": {
        "executeOnce": true,
        "command": "node /workspace/scripts/send_allowed_gmail_from_b64.js y.suzuki.hk@gmail.com {{$json.subject_b64}} {{$json.body_b64}}"
      }
    },
    {
      "id": "prepare-gmail-payload",
      "name": "prepare_gmail_payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        -120
      ],
      "parameters": {
        "jsCode": "const body = (($json.text || $json.summary || $json.stdout || '') + '').trim();\nconst encode = (value) => Buffer.from((value || '') + '', 'utf8')\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/g, '');\nreturn [{ json: { subject_b64: encode(\"Email RAG Ingest\"), body_b64: encode(body), text: body } }];"
      }
    }
  ],
  "connections": {
    "nightly_trigger": {
      "main": [
        [
          {
            "node": "phase12_qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase12_qdrant": {
      "main": [
        [
          {
            "node": "phase3_meilisearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase3_meilisearch": {
      "main": [
        [
          {
            "node": "phase4_sqlite_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase4_sqlite_search": {
      "main": [
        [
          {
            "node": "telegram_notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "prepare_gmail_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_gmail_payload": {
      "main": [
        [
          {
            "node": "gmail_send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Asia/Tokyo"
  },
  "staticData": {
    "node:nightly_trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "c47538c9-ed15-4c67-97ac-3c8e97c3b0ac",
  "activeVersionId": "c47538c9-ed15-4c67-97ac-3c8e97c3b0ac",
  "versionCounter": 72,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T22:13:23.052Z",
      "createdAt": "2026-03-13T22:13:23.052Z",
      "role": "workflow:owner",
      "workflowId": "0qNc6FdnxdDFICGe",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-20T15:01:02.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-21T03:25:15.690Z",
    "createdAt": "2026-03-21T03:25:15.690Z",
    "versionId": "c47538c9-ed15-4c67-97ac-3c8e97c3b0ac",
    "workflowId": "0qNc6FdnxdDFICGe",
    "nodes": [
      {
        "id": "trigger",
        "name": "nightly_trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 17 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "phase12",
        "name": "phase12_qdrant",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          250,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_v2.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -5 /home/node/clawd/ingest_eml.log\" || true"
        }
      },
      {
        "id": "phase3",
        "name": "phase3_meilisearch",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          500,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_to_meili.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -3 /home/node/clawd/ingest_eml.log\" || true"
        }
      },
      {
        "id": "phase4",
        "name": "phase4_sqlite_search",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          750,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/email_search_index.py --gmail-max-messages 500 >>/home/node/clawd/email_search_index.log 2>&1; tail -5 /home/node/clawd/email_search_index.log\" || true"
        }
      },
      {
        "id": "notify",
        "name": "telegram_notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "8173025084"
              },
              {
                "name": "text",
                "value": "={{ \"Email ingest finished\\n\\nQdrant: \" + $node[\"phase12_qdrant\"].json.stdout.split(\"\\n\").slice(-3).join(\"\\n\") + \"\\nMeilisearch: \" + $node[\"phase3_meilisearch\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") + \"\\nSQLite/Gmail: \" + $node[\"phase4_sqlite_search\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "gmail-send-report",
        "name": "gmail_send",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1250,
          -120
        ],
        "parameters": {
          "executeOnce": true,
          "command": "node /workspace/scripts/send_allowed_gmail_from_b64.js y.suzuki.hk@gmail.com {{$json.subject_b64}} {{$json.body_b64}}"
        }
      },
      {
        "id": "prepare-gmail-payload",
        "name": "prepare_gmail_payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          990,
          -120
        ],
        "parameters": {
          "jsCode": "const body = (($json.text || $json.summary || $json.stdout || '') + '').trim();\nconst encode = (value) => Buffer.from((value || '') + '', 'utf8')\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/g, '');\nreturn [{ json: { subject_b64: encode(\"Email RAG Ingest\"), body_b64: encode(body), text: body } }];"
        }
      }
    ],
    "connections": {
      "nightly_trigger": {
        "main": [
          [
            {
              "node": "phase12_qdrant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase12_qdrant": {
        "main": [
          [
            {
              "node": "phase3_meilisearch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase3_meilisearch": {
        "main": [
          [
            {
              "node": "phase4_sqlite_search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase4_sqlite_search": {
        "main": [
          [
            {
              "node": "telegram_notify",
              "type": "main",
              "index": 0
            },
            {
              "node": "prepare_gmail_payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_gmail_payload": {
        "main": [
          [
            {
              "node": "gmail_send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T03:25:15.934Z",
        "id": 224,
        "workflowId": "0qNc6FdnxdDFICGe",
        "versionId": "c47538c9-ed15-4c67-97ac-3c8e97c3b0ac",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}