backups/n8n/workflow_0qNc6FdnxdDFICGe_20260320_183717.json
{
  "updatedAt": "2026-03-19T00:33:38.156Z",
  "createdAt": "2026-03-13T22:13:23.037Z",
  "id": "0qNc6FdnxdDFICGe",
  "name": "Email RAG Ingest (Nightly 02:00 JST)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "nightly_trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "phase12",
      "name": "phase12_qdrant",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        250,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_v2.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -5 /home/node/clawd/ingest_eml.log\" || true"
      }
    },
    {
      "id": "phase3",
      "name": "phase3_meilisearch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_to_meili.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -3 /home/node/clawd/ingest_eml.log\" || true"
      }
    },
    {
      "id": "phase4",
      "name": "phase4_sqlite_search",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        750,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/email_search_index.py --gmail-max-messages 500 >>/home/node/clawd/email_search_index.log 2>&1; tail -5 /home/node/clawd/email_search_index.log\" || true"
      }
    },
    {
      "id": "notify",
      "name": "telegram_notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "{{ $json.chat_id ?? '7769164479' }}",
          "text": "Email ingest finished\n\nQdrant: {{ $node[\"phase12_qdrant\"].json.stdout.split(\"\\n\").slice(-3).join(\"\\n\") }}\nMeilisearch: {{ $node[\"phase3_meilisearch\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}\nSQLite/Gmail: {{ $node[\"phase4_sqlite_search\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}",
          "parse_mode": "Markdown"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "nightly_trigger": {
      "main": [
        [
          {
            "node": "phase12_qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase12_qdrant": {
      "main": [
        [
          {
            "node": "phase3_meilisearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase3_meilisearch": {
      "main": [
        [
          {
            "node": "phase4_sqlite_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phase4_sqlite_search": {
      "main": [
        [
          {
            "node": "telegram_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:nightly_trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "d62d95bd-1e4a-48ae-a6bf-94d18b52ddfc",
  "activeVersionId": "d62d95bd-1e4a-48ae-a6bf-94d18b52ddfc",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T22:13:23.052Z",
      "createdAt": "2026-03-13T22:13:23.052Z",
      "role": "workflow:owner",
      "workflowId": "0qNc6FdnxdDFICGe",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-19T15:01:01.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T00:33:38.159Z",
    "createdAt": "2026-03-19T00:33:38.159Z",
    "versionId": "d62d95bd-1e4a-48ae-a6bf-94d18b52ddfc",
    "workflowId": "0qNc6FdnxdDFICGe",
    "nodes": [
      {
        "id": "trigger",
        "name": "nightly_trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 17 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "phase12",
        "name": "phase12_qdrant",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          250,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_v2.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -5 /home/node/clawd/ingest_eml.log\" || true"
        }
      },
      {
        "id": "phase3",
        "name": "phase3_meilisearch",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          500,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/ingest_eml_to_meili.py >>/home/node/clawd/ingest_eml.log 2>&1; tail -3 /home/node/clawd/ingest_eml.log\" || true"
        }
      },
      {
        "id": "phase4",
        "name": "phase4_sqlite_search",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          750,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "docker exec clawstack-unified-clawdbot-gateway-1 sh -lc \"python3 /home/node/clawd/email_search_index.py --gmail-max-messages 500 >>/home/node/clawd/email_search_index.log 2>&1; tail -5 /home/node/clawd/email_search_index.log\" || true"
        }
      },
      {
        "id": "notify",
        "name": "telegram_notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "contentType": "json",
          "body": {
            "chat_id": "{{ $json.chat_id ?? '7769164479' }}",
            "text": "Email ingest finished\n\nQdrant: {{ $node[\"phase12_qdrant\"].json.stdout.split(\"\\n\").slice(-3).join(\"\\n\") }}\nMeilisearch: {{ $node[\"phase3_meilisearch\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}\nSQLite/Gmail: {{ $node[\"phase4_sqlite_search\"].json.stdout.split(\"\\n\").slice(-2).join(\"\\n\") }}",
            "parse_mode": "Markdown"
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "nightly_trigger": {
        "main": [
          [
            {
              "node": "phase12_qdrant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase12_qdrant": {
        "main": [
          [
            {
              "node": "phase3_meilisearch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase3_meilisearch": {
        "main": [
          [
            {
              "node": "phase4_sqlite_search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "phase4_sqlite_search": {
        "main": [
          [
            {
              "node": "telegram_notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T00:33:38.234Z",
        "id": 124,
        "workflowId": "0qNc6FdnxdDFICGe",
        "versionId": "d62d95bd-1e4a-48ae-a6bf-94d18b52ddfc",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}