backups/n8n/workflow_SG2teXHO94CvzCoU_pre_trigger_once_20260323_130804.json
{
  "updatedAt": "2026-03-23T03:02:07.839Z",
  "createdAt": "2026-03-02T13:34:38.293Z",
  "id": "SG2teXHO94CvzCoU",
  "name": "Daily Promises Report (23:00 JST)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "毎日23:00トリガー",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "58 11 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-read",
      "name": "PROMISES.md読み込み",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "command": "cat /workspace/PROMISES.md"
      }
    },
    {
      "id": "node-format",
      "name": "メッセージ整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('ja-JP', {timeZone:'Asia/Tokyo'});\nconst content = $input.first().json.stdout || '(読み込み失敗)';\nconst truncated = content.length > 3500 ? content.substring(0, 3500) + '\\n...(省略)' : content;\nconst msg = `📋 定期報告 (${now})\\n\\n${truncated}`;\nreturn [{ json: { text: msg } }];"
      }
    },
    {
      "id": "node-telegram",
      "name": "Telegram送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "8173025084"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        }
      }
    },
    {
      "id": "gmail-send-report",
      "name": "gmail_send",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        0
      ],
      "parameters": {
        "executeOnce": true,
        "command": "node /workspace/scripts/send_allowed_gmail_from_b64.js y.suzuki.hk@gmail.com {{$json.subject_b64}} {{$json.body_b64}}"
      }
    },
    {
      "id": "prepare-gmail-payload",
      "name": "prepare_gmail_payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        0
      ],
      "parameters": {
        "jsCode": "const body = (($json.text || $json.summary || $json.stdout || '') + '').trim();\nconst encode = (value) => Buffer.from((value || '') + '', 'utf8')\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/g, '');\nreturn [{ json: { subject_b64: encode(\"Daily Promises Report\"), body_b64: encode(body), text: body } }];"
      }
    }
  ],
  "connections": {
    "毎日23:00トリガー": {
      "main": [
        [
          {
            "node": "PROMISES.md読み込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROMISES.md読み込み": {
      "main": [
        [
          {
            "node": "メッセージ整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージ整形": {
      "main": [
        [
          {
            "node": "Telegram送信",
            "type": "main",
            "index": 0
          },
          {
            "node": "prepare_gmail_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "???????": {
      "main": [
        [
          {
            "node": "gmail_send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_gmail_payload": {
      "main": [
        [
          {
            "node": "gmail_send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tokyo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:毎日23:00トリガー": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "4fa0c701-21f0-46b3-8367-8b3c351cfcd0",
  "activeVersionId": "4fa0c701-21f0-46b3-8367-8b3c351cfcd0",
  "versionCounter": 136,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T13:34:38.296Z",
      "createdAt": "2026-03-02T13:34:38.296Z",
      "role": "workflow:owner",
      "workflowId": "SG2teXHO94CvzCoU",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-22T23:00:37.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-23T03:02:07.840Z",
    "createdAt": "2026-03-23T03:02:07.840Z",
    "versionId": "4fa0c701-21f0-46b3-8367-8b3c351cfcd0",
    "workflowId": "SG2teXHO94CvzCoU",
    "nodes": [
      {
        "id": "node-schedule",
        "name": "毎日23:00トリガー",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "58 11 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "node-read",
        "name": "PROMISES.md読み込み",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          460,
          300
        ],
        "parameters": {
          "command": "cat /workspace/PROMISES.md"
        }
      },
      {
        "id": "node-format",
        "name": "メッセージ整形",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "jsCode": "const now = new Date().toLocaleString('ja-JP', {timeZone:'Asia/Tokyo'});\nconst content = $input.first().json.stdout || '(読み込み失敗)';\nconst truncated = content.length > 3500 ? content.substring(0, 3500) + '\\n...(省略)' : content;\nconst msg = `📋 定期報告 (${now})\\n\\n${truncated}`;\nreturn [{ json: { text: msg } }];"
        }
      },
      {
        "id": "node-telegram",
        "name": "Telegram送信",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "8173025084"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}"
              }
            ]
          }
        }
      },
      {
        "id": "gmail-send-report",
        "name": "gmail_send",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1250,
          0
        ],
        "parameters": {
          "executeOnce": true,
          "command": "node /workspace/scripts/send_allowed_gmail_from_b64.js y.suzuki.hk@gmail.com {{$json.subject_b64}} {{$json.body_b64}}"
        }
      },
      {
        "id": "prepare-gmail-payload",
        "name": "prepare_gmail_payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          990,
          0
        ],
        "parameters": {
          "jsCode": "const body = (($json.text || $json.summary || $json.stdout || '') + '').trim();\nconst encode = (value) => Buffer.from((value || '') + '', 'utf8')\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/g, '');\nreturn [{ json: { subject_b64: encode(\"Daily Promises Report\"), body_b64: encode(body), text: body } }];"
        }
      }
    ],
    "connections": {
      "毎日23:00トリガー": {
        "main": [
          [
            {
              "node": "PROMISES.md読み込み",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PROMISES.md読み込み": {
        "main": [
          [
            {
              "node": "メッセージ整形",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "メッセージ整形": {
        "main": [
          [
            {
              "node": "Telegram送信",
              "type": "main",
              "index": 0
            },
            {
              "node": "prepare_gmail_payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "???????": {
        "main": [
          [
            {
              "node": "gmail_send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare_gmail_payload": {
        "main": [
          [
            {
              "node": "gmail_send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-23T03:02:07.906Z",
        "id": 294,
        "workflowId": "SG2teXHO94CvzCoU",
        "versionId": "4fa0c701-21f0-46b3-8367-8b3c351cfcd0",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}