backups/n8n/workflow_zO38wIUIoZJ7KsyS_restore_source_20260321_112348.json
{
  "updatedAt": "2026-03-20T12:58:49.916Z",
  "createdAt": "2026-03-07T04:53:48.139Z",
  "id": "zO38wIUIoZJ7KsyS",
  "name": "Daily AI Scout (新AI・ツール探索)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Daily 09:00 JST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-queries",
      "name": "Search Queries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "q1",
              "name": "q1",
              "value": "frontier AI model release openai anthropic google deepmind 2026",
              "type": "string"
            },
            {
              "id": "q2",
              "name": "q2",
              "value": "Qwen Llama Mistral DeepSeek compact local model release 2026",
              "type": "string"
            },
            {
              "id": "q3",
              "name": "q3",
              "value": "video generation music generation image generation lipsync AI release 2026",
              "type": "string"
            },
            {
              "id": "q4",
              "name": "q4",
              "value": "deep learning research paper open source model release 2026",
              "type": "string"
            },
            {
              "id": "q5",
              "name": "q5",
              "value": "Rowan Cheung Ethan Mollick Alina K. Miller Logan Kilpatrick AI Explained latest AI",
              "type": "string"
            },
            {
              "id": "q6",
              "name": "q6",
              "value": "Rowan Cheung The Rundown AI latest",
              "type": "string"
            },
            {
              "id": "q7",
              "name": "q7",
              "value": "Ethan Mollick latest AI",
              "type": "string"
            },
            {
              "id": "q8",
              "name": "q8",
              "value": "Allie K. Miller latest AI",
              "type": "string"
            },
            {
              "id": "q9",
              "name": "q9",
              "value": "Logan Kilpatrick latest AI",
              "type": "string"
            },
            {
              "id": "q10",
              "name": "q10",
              "value": "AI Explained latest AI YouTube",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "node-search1",
      "name": "Search: AI Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -200
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q1 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search2",
      "name": "Search: LLM Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q2 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search3",
      "name": "Search: Video Gen AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        40
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q3 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search4",
      "name": "Search: Image Gen AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q4 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search5",
      "name": "Search: Productivity AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q5 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "week"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        40
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nconst today = new Date().toLocaleDateString('ja-JP', { timeZone: 'Asia/Tokyo' });\nconst searchCategories = [\n  { key: 'frontier ai model', title: 'AIモデル' },\n  { key: 'qwen llama mistral deepseek', title: 'ローカルLLM' },\n  { key: 'video generation music generation image generation lipsync', title: '動画・音楽・画像・LipSync' },\n  { key: 'deep learning research paper', title: 'DeepLearning / 論文' },\n  { key: 'rowan cheung ethan mollick', title: '注目発信者 / メディア' },\n];\nfunction classify(query) {\n  const lowered = (query || '').toLowerCase();\n  for (const entry of searchCategories) {\n    if (lowered.includes(entry.key)) return entry.title;\n  }\n  return 'その他';\n}\nconst sections = new Map(searchCategories.map((entry) => [entry.title, []]));\nsections.set('その他', []);\nconst fixedSourceSections = [];\nlet rankingPayload = null;\nconst seen = new Set();\nfor (const item of allItems) {\n  const data = item.json || {};\n  if (data.stdout) {\n    try {\n      const parsed = JSON.parse(data.stdout);\n      if (parsed.sources) {\n        for (const sourceEntry of parsed.sources) {\n          const hits = (sourceEntry.results || []).map((result) => `- ${result.title}\\n  ${result.url}`);\n          if (hits.length) {\n            fixedSourceSections.push({\n              title: `${sourceEntry.category} (${sourceEntry.source})`,\n              hits,\n            });\n          }\n        }\n      }\n      if (parsed.cloud_rankings) {\n        rankingPayload = parsed;\n      }\n    } catch (error) {\n    }\n    continue;\n  }\n  const category = classify(data.query || '');\n  for (const hit of (data.results || []).slice(0, 3)) {\n    const title = (hit.title || '').trim();\n    const url = (hit.url || '').trim();\n    if (!title || !url) continue;\n    const dedupe = `${title}::${url}`;\n    if (seen.has(dedupe)) continue;\n    seen.add(dedupe);\n    sections.get(category).push(`- ${title}\\n  ${url}`);\n  }\n}\nconst parts = [\n  `AI Scout / モデルランキング日報 (${today})`,\n  '',\n];\nif (rankingPayload) {\n  parts.push(`端末: ${rankingPayload.hardware.machine} / ${rankingPayload.hardware.cpu} / ${rankingPayload.hardware.ram} / ${rankingPayload.hardware.gpu}`);\n  parts.push('');\n  parts.push('■ クラウドAI 総合');\n  parts.push(`- ${rankingPayload.cloud_rankings.overall.join(' / ')}`);\n  parts.push('■ クラウドAI 賢さ');\n  parts.push(`- ${rankingPayload.cloud_rankings.smartest.join(' / ')}`);\n  parts.push('■ クラウドAI 速さ');\n  parts.push(`- ${rankingPayload.cloud_rankings.fastest.join(' / ')}`);\n  parts.push('■ クラウドAI 価格');\n  parts.push(`- ${rankingPayload.cloud_rankings.lowest_cost.join(' / ')}`);\n  parts.push('');\n  parts.push('■ ローカルAI 総合');\n  parts.push(`- ${rankingPayload.local_rankings.overall_open.join(' / ')}`);\n  parts.push('■ ローカルAI 賢さ');\n  parts.push(`- ${rankingPayload.local_rankings.smartest_open.join(' / ')}`);\n  parts.push('■ ローカルAI 実用');\n  parts.push(`- ${rankingPayload.local_rankings.practical_local.join(' / ')}`);\n  parts.push('');\n  parts.push('■ このMiniPC向け推奨');\n  parts.push(`- 総合おすすめ: ${rankingPayload.mini_pc_recommendation.overall.model} (${rankingPayload.mini_pc_recommendation.overall.reason})`);\n  parts.push(`- 速度優先: ${rankingPayload.mini_pc_recommendation.fast.model} (${rankingPayload.mini_pc_recommendation.fast.reason})`);\n  parts.push(`- 既定非推奨: ${rankingPayload.mini_pc_recommendation.avoid_default.join(' / ')}`);\n  parts.push(`- 次に試す候補: ${rankingPayload.mini_pc_recommendation.next_try.join(' / ')}`);\n  parts.push(`- ローカル搭載: ${(rankingPayload.installed_local_models || []).join(', ') || '取得失敗'}`);\n  parts.push('');\n  parts.push('■ 参照元チェック');\n  for (const ref of (rankingPayload.references_checked || [])) {\n    parts.push(`- ${ref.name}: ${ref.status}`);\n    parts.push(`  ${ref.url}`);\n  }\n  parts.push('');\n}\nfor (const [title, hits] of sections.entries()) {\n  if (!hits.length) continue;\n  parts.push(`■ ${title}`);\n  parts.push(...hits.slice(0, 3));\n  parts.push('');\n}\nfor (const section of fixedSourceSections) {\n  parts.push(`■ ${section.title}`);\n  parts.push(...section.hits.slice(0, 3));\n  parts.push('');\n}\nparts.push('参照元: Artificial Analysis / LMArena / Hugging Face Open LLM Leaderboard / Intel Low-bit Quantized Open LLM Leaderboard / LM Studio Model Catalog / Ollama Library');\nparts.push('方針: 公開ページと公開RSSのみ。Instagram / X / TikTok の直接スクレイプは使わない。');\nreturn [{ json: { message: parts.join('\\n').trim() } }];"
      }
    },
    {
      "id": "node-llm",
      "name": "Gemini Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ model: 'qwen2.5-coder:7b', prompt: 'あなたはAI業界ウォッチャーです。与えられた検索結果から、AIモデル、動画生成、音楽生成、画像生成、リップシンク、DeepLearning、業務活用の観点で本当に新しい情報だけを日本語で5-10件の箇条書きに整理してください。各項目は短く、媒体名や人物名が分かる場合は含めてください。SNSや動画は検索結果に含まれる公開ページだけを根拠にし、未確認の断定は避けてください。検索結果:\\n' + $json.summary_input, stream: false, options: { num_predict: 700, temperature: 0.2 } }) }}"
      }
    },
    {
      "id": "node-extract",
      "name": "Extract AI Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        40
      ],
      "parameters": {
        "jsCode": "const body = $input.item.json || {};\nconst content = (body.response || '').trim() || '(結果なし)';\nconst today = new Date().toLocaleDateString('ja-JP', { timeZone: 'Asia/Tokyo' });\nreturn [{\n  json: {\n    message: `AI Scout 日報 (${today})\\n\\n${content}\\n\\n---\\n取得元: SearXNG 公開Web検索`\n  }\n}];"
      }
    },
    {
      "id": "node-telegram",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "8173025084",
          "text": "={{ $json.message }}",
          "parse_mode": "Markdown"
        }
      }
    },
    {
      "id": "node-search-official-rowan",
      "name": "Search: Official Rowan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q6 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "month"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search-ethan-mollick",
      "name": "Search: Ethan Mollick",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q7 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "month"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search-allie-miller",
      "name": "Search: Allie K. Miller",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        620
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q8 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "month"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search-logan-kilpatrick",
      "name": "Search: Logan Kilpatrick",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        820
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q9 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "month"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-search-youtube-ai-explained",
      "name": "Search: YouTube AI Explained",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        1020
      ],
      "parameters": {
        "method": "GET",
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q10 }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "time_range",
              "value": "month"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Forwarded-For",
              "value": "127.0.0.1"
            }
          ]
        },
        "sendHeaders": true
      }
    },
    {
      "id": "node-fetch-public-sources",
      "name": "Fetch: Public Sources",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        420,
        1220
      ],
      "parameters": {
        "command": "python3 /workspace/fetch_ai_public_sources.py"
      }
    },
    {
      "id": "node-fetch-model-rankings",
      "name": "Fetch: Model Rankings",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        420,
        1420
      ],
      "parameters": {
        "command": "python3 /workspace/fetch_ai_model_rankings.py"
      }
    }
  ],
  "connections": {
    "Daily 09:00 JST": {
      "main": [
        [
          {
            "node": "Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Queries": {
      "main": [
        [
          {
            "node": "Search: AI Models",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: LLM Releases",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Video Gen AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Image Gen AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Productivity AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Official Rowan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Ethan Mollick",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Allie K. Miller",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: Logan Kilpatrick",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: YouTube AI Explained",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch: Public Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch: Model Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: AI Models": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: LLM Releases": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Video Gen AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Image Gen AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Productivity AI": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summary": {
      "main": [
        [
          {
            "node": "Extract AI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Report": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Official Rowan": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Ethan Mollick": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Allie K. Miller": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Logan Kilpatrick": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: YouTube AI Explained": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Public Sources": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Model Rankings": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 09:00 JST": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "f02f385a-4f39-40c8-9e9f-218e6f77054e",
  "activeVersionId": "f02f385a-4f39-40c8-9e9f-218e6f77054e",
  "versionCounter": 56,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T04:53:48.147Z",
      "createdAt": "2026-03-07T04:53:48.147Z",
      "role": "workflow:owner",
      "workflowId": "zO38wIUIoZJ7KsyS",
      "projectId": "9U7rI3bmgXpsJ71S",
      "project": {
        "updatedAt": "2026-03-13T14:28:41.239Z",
        "createdAt": "2026-02-07T05:28:19.729Z",
        "id": "9U7rI3bmgXpsJ71S",
        "name": "yasuhiro suzuki <y.suzuki.hk@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "291ff157-9849-45a3-8560-b87bb49ab833",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T05:28:19.730Z",
            "createdAt": "2026-02-07T05:28:19.730Z",
            "userId": "291ff157-9849-45a3-8560-b87bb49ab833",
            "projectId": "9U7rI3bmgXpsJ71S",
            "user": {
              "updatedAt": "2026-03-20T15:01:02.000Z",
              "createdAt": "2026-02-07T05:28:19.229Z",
              "id": "291ff157-9849-45a3-8560-b87bb49ab833",
              "email": "y.suzuki.hk@gmail.com",
              "firstName": "yasuhiro",
              "lastName": "suzuki",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-24T23:12:30.310Z",
                "personalization_survey_n8n_version": "2.6.4",
                "automationGoalDevops": [
                  "reporting"
                ],
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "jVGXe2GEIz6RN7Z0",
                "userActivatedAt": 1772595011158
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T12:58:49.919Z",
    "createdAt": "2026-03-20T12:58:49.919Z",
    "versionId": "f02f385a-4f39-40c8-9e9f-218e6f77054e",
    "workflowId": "zO38wIUIoZJ7KsyS",
    "nodes": [
      {
        "id": "node-schedule",
        "name": "Daily 09:00 JST",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "node-queries",
        "name": "Search Queries",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          200,
          0
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "q1",
                "name": "q1",
                "value": "frontier AI model release openai anthropic google deepmind 2026",
                "type": "string"
              },
              {
                "id": "q2",
                "name": "q2",
                "value": "Qwen Llama Mistral DeepSeek compact local model release 2026",
                "type": "string"
              },
              {
                "id": "q3",
                "name": "q3",
                "value": "video generation music generation image generation lipsync AI release 2026",
                "type": "string"
              },
              {
                "id": "q4",
                "name": "q4",
                "value": "deep learning research paper open source model release 2026",
                "type": "string"
              },
              {
                "id": "q5",
                "name": "q5",
                "value": "Rowan Cheung Ethan Mollick Alina K. Miller Logan Kilpatrick AI Explained latest AI",
                "type": "string"
              },
              {
                "id": "q6",
                "name": "q6",
                "value": "Rowan Cheung The Rundown AI latest",
                "type": "string"
              },
              {
                "id": "q7",
                "name": "q7",
                "value": "Ethan Mollick latest AI",
                "type": "string"
              },
              {
                "id": "q8",
                "name": "q8",
                "value": "Allie K. Miller latest AI",
                "type": "string"
              },
              {
                "id": "q9",
                "name": "q9",
                "value": "Logan Kilpatrick latest AI",
                "type": "string"
              },
              {
                "id": "q10",
                "name": "q10",
                "value": "AI Explained latest AI YouTube",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "node-search1",
        "name": "Search: AI Models",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -200
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q1 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search2",
        "name": "Search: LLM Releases",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -80
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q2 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search3",
        "name": "Search: Video Gen AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          40
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q3 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search4",
        "name": "Search: Image Gen AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          160
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q4 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search5",
        "name": "Search: Productivity AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          280
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q5 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "week"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-aggregate",
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          40
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const allItems = $input.all();\nconst today = new Date().toLocaleDateString('ja-JP', { timeZone: 'Asia/Tokyo' });\nconst searchCategories = [\n  { key: 'frontier ai model', title: 'AIモデル' },\n  { key: 'qwen llama mistral deepseek', title: 'ローカルLLM' },\n  { key: 'video generation music generation image generation lipsync', title: '動画・音楽・画像・LipSync' },\n  { key: 'deep learning research paper', title: 'DeepLearning / 論文' },\n  { key: 'rowan cheung ethan mollick', title: '注目発信者 / メディア' },\n];\nfunction classify(query) {\n  const lowered = (query || '').toLowerCase();\n  for (const entry of searchCategories) {\n    if (lowered.includes(entry.key)) return entry.title;\n  }\n  return 'その他';\n}\nconst sections = new Map(searchCategories.map((entry) => [entry.title, []]));\nsections.set('その他', []);\nconst fixedSourceSections = [];\nlet rankingPayload = null;\nconst seen = new Set();\nfor (const item of allItems) {\n  const data = item.json || {};\n  if (data.stdout) {\n    try {\n      const parsed = JSON.parse(data.stdout);\n      if (parsed.sources) {\n        for (const sourceEntry of parsed.sources) {\n          const hits = (sourceEntry.results || []).map((result) => `- ${result.title}\\n  ${result.url}`);\n          if (hits.length) {\n            fixedSourceSections.push({\n              title: `${sourceEntry.category} (${sourceEntry.source})`,\n              hits,\n            });\n          }\n        }\n      }\n      if (parsed.cloud_rankings) {\n        rankingPayload = parsed;\n      }\n    } catch (error) {\n    }\n    continue;\n  }\n  const category = classify(data.query || '');\n  for (const hit of (data.results || []).slice(0, 3)) {\n    const title = (hit.title || '').trim();\n    const url = (hit.url || '').trim();\n    if (!title || !url) continue;\n    const dedupe = `${title}::${url}`;\n    if (seen.has(dedupe)) continue;\n    seen.add(dedupe);\n    sections.get(category).push(`- ${title}\\n  ${url}`);\n  }\n}\nconst parts = [\n  `AI Scout / モデルランキング日報 (${today})`,\n  '',\n];\nif (rankingPayload) {\n  parts.push(`端末: ${rankingPayload.hardware.machine} / ${rankingPayload.hardware.cpu} / ${rankingPayload.hardware.ram} / ${rankingPayload.hardware.gpu}`);\n  parts.push('');\n  parts.push('■ クラウドAI 総合');\n  parts.push(`- ${rankingPayload.cloud_rankings.overall.join(' / ')}`);\n  parts.push('■ クラウドAI 賢さ');\n  parts.push(`- ${rankingPayload.cloud_rankings.smartest.join(' / ')}`);\n  parts.push('■ クラウドAI 速さ');\n  parts.push(`- ${rankingPayload.cloud_rankings.fastest.join(' / ')}`);\n  parts.push('■ クラウドAI 価格');\n  parts.push(`- ${rankingPayload.cloud_rankings.lowest_cost.join(' / ')}`);\n  parts.push('');\n  parts.push('■ ローカルAI 総合');\n  parts.push(`- ${rankingPayload.local_rankings.overall_open.join(' / ')}`);\n  parts.push('■ ローカルAI 賢さ');\n  parts.push(`- ${rankingPayload.local_rankings.smartest_open.join(' / ')}`);\n  parts.push('■ ローカルAI 実用');\n  parts.push(`- ${rankingPayload.local_rankings.practical_local.join(' / ')}`);\n  parts.push('');\n  parts.push('■ このMiniPC向け推奨');\n  parts.push(`- 総合おすすめ: ${rankingPayload.mini_pc_recommendation.overall.model} (${rankingPayload.mini_pc_recommendation.overall.reason})`);\n  parts.push(`- 速度優先: ${rankingPayload.mini_pc_recommendation.fast.model} (${rankingPayload.mini_pc_recommendation.fast.reason})`);\n  parts.push(`- 既定非推奨: ${rankingPayload.mini_pc_recommendation.avoid_default.join(' / ')}`);\n  parts.push(`- 次に試す候補: ${rankingPayload.mini_pc_recommendation.next_try.join(' / ')}`);\n  parts.push(`- ローカル搭載: ${(rankingPayload.installed_local_models || []).join(', ') || '取得失敗'}`);\n  parts.push('');\n  parts.push('■ 参照元チェック');\n  for (const ref of (rankingPayload.references_checked || [])) {\n    parts.push(`- ${ref.name}: ${ref.status}`);\n    parts.push(`  ${ref.url}`);\n  }\n  parts.push('');\n}\nfor (const [title, hits] of sections.entries()) {\n  if (!hits.length) continue;\n  parts.push(`■ ${title}`);\n  parts.push(...hits.slice(0, 3));\n  parts.push('');\n}\nfor (const section of fixedSourceSections) {\n  parts.push(`■ ${section.title}`);\n  parts.push(...section.hits.slice(0, 3));\n  parts.push('');\n}\nparts.push('参照元: Artificial Analysis / LMArena / Hugging Face Open LLM Leaderboard / Intel Low-bit Quantized Open LLM Leaderboard / LM Studio Model Catalog / Ollama Library');\nparts.push('方針: 公開ページと公開RSSのみ。Instagram / X / TikTok の直接スクレイプは使わない。');\nreturn [{ json: { message: parts.join('\\n').trim() } }];"
        }
      },
      {
        "id": "node-llm",
        "name": "Gemini Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          40
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:11434/api/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "body": "={{ JSON.stringify({ model: 'qwen2.5-coder:7b', prompt: 'あなたはAI業界ウォッチャーです。与えられた検索結果から、AIモデル、動画生成、音楽生成、画像生成、リップシンク、DeepLearning、業務活用の観点で本当に新しい情報だけを日本語で5-10件の箇条書きに整理してください。各項目は短く、媒体名や人物名が分かる場合は含めてください。SNSや動画は検索結果に含まれる公開ページだけを根拠にし、未確認の断定は避けてください。検索結果:\\n' + $json.summary_input, stream: false, options: { num_predict: 700, temperature: 0.2 } }) }}"
        }
      },
      {
        "id": "node-extract",
        "name": "Extract AI Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          40
        ],
        "parameters": {
          "jsCode": "const body = $input.item.json || {};\nconst content = (body.response || '').trim() || '(結果なし)';\nconst today = new Date().toLocaleDateString('ja-JP', { timeZone: 'Asia/Tokyo' });\nreturn [{\n  json: {\n    message: `AI Scout 日報 (${today})\\n\\n${content}\\n\\n---\\n取得元: SearXNG 公開Web検索`\n  }\n}];"
        }
      },
      {
        "id": "node-telegram",
        "name": "Telegram Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          40
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8085717200:AAHzacN6Q3xSunrLyvUTuHnKEf7Cd5YFdt4/sendMessage",
          "sendBody": true,
          "contentType": "json",
          "body": {
            "chat_id": "8173025084",
            "text": "={{ $json.message }}",
            "parse_mode": "Markdown"
          }
        }
      },
      {
        "id": "node-search-official-rowan",
        "name": "Search: Official Rowan",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          220
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q6 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "month"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search-ethan-mollick",
        "name": "Search: Ethan Mollick",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          420
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q7 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "month"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search-allie-miller",
        "name": "Search: Allie K. Miller",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          620
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q8 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "month"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search-logan-kilpatrick",
        "name": "Search: Logan Kilpatrick",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          820
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q9 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "month"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-search-youtube-ai-explained",
        "name": "Search: YouTube AI Explained",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          1020
        ],
        "parameters": {
          "method": "GET",
          "url": "http://searxng:8080/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.q10 }}"
              },
              {
                "name": "format",
                "value": "json"
              },
              {
                "name": "language",
                "value": "en"
              },
              {
                "name": "time_range",
                "value": "month"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Forwarded-For",
                "value": "127.0.0.1"
              }
            ]
          },
          "sendHeaders": true
        }
      },
      {
        "id": "node-fetch-public-sources",
        "name": "Fetch: Public Sources",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          420,
          1220
        ],
        "parameters": {
          "command": "python3 /workspace/fetch_ai_public_sources.py"
        }
      },
      {
        "id": "node-fetch-model-rankings",
        "name": "Fetch: Model Rankings",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          420,
          1420
        ],
        "parameters": {
          "command": "python3 /workspace/fetch_ai_model_rankings.py"
        }
      }
    ],
    "connections": {
      "Daily 09:00 JST": {
        "main": [
          [
            {
              "node": "Search Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Queries": {
        "main": [
          [
            {
              "node": "Search: AI Models",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: LLM Releases",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Video Gen AI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Image Gen AI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Productivity AI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Official Rowan",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Ethan Mollick",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Allie K. Miller",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: Logan Kilpatrick",
              "type": "main",
              "index": 0
            },
            {
              "node": "Search: YouTube AI Explained",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch: Public Sources",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch: Model Rankings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: AI Models": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: LLM Releases": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Video Gen AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Image Gen AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Productivity AI": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Summary": {
        "main": [
          [
            {
              "node": "Extract AI Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract AI Report": {
        "main": [
          [
            {
              "node": "Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Official Rowan": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Ethan Mollick": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Allie K. Miller": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: Logan Kilpatrick": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search: YouTube AI Explained": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch: Public Sources": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch: Model Rankings": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yasuhiro suzuki",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T12:58:50.063Z",
        "id": 175,
        "workflowId": "zO38wIUIoZJ7KsyS",
        "versionId": "f02f385a-4f39-40c8-9e9f-218e6f77054e",
        "event": "activated",
        "userId": "291ff157-9849-45a3-8560-b87bb49ab833"
      }
    ]
  }
}